@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';
body{
    margin:0;
    padding: 0;
    background: #313131;
}
.box{
            position: absolute;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);
        }
.box a{
            text-decoration: none;
            color:white;
            font-size: 40px;
            margin: 10px;
            display: flex;
            width:60px;
            height:60px;
            justify-content: center;
            align-items: center;
            float:left;
            transition: 0.9s all;
            cursor:auto;
        }
.li
        {
              padding: 20px;
              font-size: 30px;
              width: 50px;
              text-align: center;
              background: #007bb6;
    
        }
  .gh
        {
             padding: 20px;
              font-size: 30px;
              width: 50px;
               text-align: center;
            background: #333;
        }

.fb
        {
              padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
            background: #2980b9;
        }
    .tw
        {
              padding: 20px;
              font-size: 30px;
              width: 50px;
              text-align: center;
              background: #3498db;
        }
    .ig
        {
              padding: 20px;
              font-size: 30px;
              width: 50px;
               text-align: center;
            background: #e67e22;
        }
    .gp
        {
              padding: 20px;
              font-size: 30px;
              width: 50px;
               text-align: center;
            background: #dd4b39;
        }

    .yt
        {
              padding: 20px;
              font-size: 30px;
              width: 50px;
              text-align: center;
              background: #e74c3c;
        }
    
   .tu
        {
               padding: 20px;
               font-size: 30px;
               width: 50px;
               text-align: center;
               background: #32506d;
        }

    .pi
        {
              padding: 20px;
              font-size: 30px;
              width: 50px;
               text-align: center;
               background: #cb2027;
        }
    .wa
        {
              padding: 20px;
              font-size: 30px;
               width: 50px;
               text-align: center;
               background: #98fb98;
        }
.box a:hover
        {
         margin-top: -10px;    
        }